@font-face {
  font-family: 'Source Han Sans CN';
  src: url('_SourceHanSansCN-Medium.otf') format('opentype');
  font-weight: 500;
  font-display: block;
}

@font-face {
  font-family: 'Source Han Sans JP';
  src: url('_SourceHanSansJP-Medium.otf') format('opentype');
  font-weight: 500;
  font-display: block;
}

@font-face {
  font-family: 'KleeOne LXGW Mono GB';
  src: url('_KleeOneLXGWMonoGB.ttf') format('opentype');
  font-weight: 500;
  font-display: block;
}

body {
    font-family:  'Source Han Sans CN', 'Source Han Sans JP',serif;
}

:lang(zh) {
    font-family:  'Source Han Sans CN', 'Source Han Sans JP',serif;
}

:lang(ja) {
    font-family: 'Source Han Sans JP', 'Source Han Sans CN', serif;
}

.num {
    font-family: 'KleeOne LXGW Mono GB', 'Source Han Sans JP', 'Source Han Sans CN', serif;
}

.word[lang="ja"] {
    font-family: 'KleeOne LXGW Mono GB', 'Source Han Sans JP', 'Source Han Sans CN', serif;
}

.connectiveTag[lang="ja"] {
    font-family: 'KleeOne LXGW Mono GB', 'Source Han Sans JP', 'Source Han Sans CN', serif;
}

.connectiveNote[lang="ja"] {
    font-family: 'KleeOne LXGW Mono GB', 'Source Han Sans JP', 'Source Han Sans CN', serif;
}

.leader {
    font-family: 'KleeOne LXGW Mono GB', 'Source Han Sans JP', 'Source Han Sans CN', serif;
}


.card {
    text-align: left;
    padding: 10px;
}

.header {
    justify-content: space-between;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: flex-start; /* Aligns items to the top */
}

.right-side {
    display: flex;
    align-items: center;
    gap: 0px; /* Add some space between "Level" and "Link" */
}

hr {
    margin: 15px 0;
}

.content {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.explain {
    font-size: 18px;
    margin-bottom: 10px;
}

.examplefront {
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
}

.exampleback {
    font-size: 18px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px
}

.examplesentences {
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
}

.num {
    font-weight: bold;
    margin-left: 0px;
    margin-right: 5px;
}

.leader {
    font-weight: bold;
    margin-left: 0px;
    margin-right: 5px;
}

.footer {
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #e6e6e6;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}

.nightMode .footer {
    background-color: #191919;
}

.categoryheader {
    display: inline-block; /* Allows width to adjust according to content */
    background-color: #e7eeff;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}

.nightMode .categoryheader {
    background-color: #001a54;
}

.connectiveTag {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-right: 5px;
}

.connectiveNote {
    font-size: 18px;
    color: #666666;
    margin-top: 10px;
    text-align: left;
}

.nightMode .connectiveNote {
    color: #999999;
}

.cnote {
    font-size: 18px;
    color: #666666;
    display: inline-flex; /* or display: flex; */
    align-items: start;
}

.nightMode .cnote {
    color: #999999;
}

.image {
    text-align: center; /* Center the content within the .image div */
    margin-top: 10px; /* Optional: Adds spacing above the image */
}

b {
    color: #f97316;
    text-decoration-line: underline;
    text-underline-offset: 2px;
}

.nightMode b{
    color: #fdba74;
}

.ios [lang="ja"]:not(.word) rt,
.safari [lang="ja"]:not(.word) rt {
  transform: translateY(0.6em);
}

.replay-button svg {
  width: 30px;
  height: 30px;
}


.replay-button svg circle {
  fill: transparent;
  stroke: #666666;
}

.replay-button svg path {
  fill: #666666;
}

.nightMode .replay-button svg circle {
  stroke: #999999;
}

.nightMode .replay-button svg path {
  fill: #999999;
}

#s2 {
  display: none !important;
}